<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <h1>🌦 Weather Checker</h1>
    <div class="searchSet">
    <input type="text" id="city" placeholder="Search for city" />
    <button onclick="getWeather()">Get Weather</button>
    </div>
    <div class="result" id="result">
    </div>
  </body>
</html>
